@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

html, body{
    font-family: 'Roboto', sans-serif;
}
.button{
    width: 66px;
    padding: 20px;
    margin: 0 3px;
    border: 2px solid black;
    border-radius: 9px;
    cursor: pointer;
}

.row{
    margin: 8px 0;   
}

.row button{
    font-size: 20px;
    font-weight: bold;
}